.portfolio {
  padding: 50px 20px;
  text-align: center;
  background-color: #000000;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #00FF00; /* Verde neon */
}

.projetos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.projeto-card {
  background-color: #111111; /* Fundo cinza escuro */
  border: 1px solid #333333; /* Borda cinza */
  border-radius: 5px;
  padding: 20px;
  text-align: left;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #00FF00; /* Verde neon */
}

p {
  font-size: 1rem;
  color: #CCCCCC; /* Cinza claro */
}